@model IEnumerable<TheCarHub.Models.Car>
@{
    ViewData["Title"] = "Home Page";
    ViewData["UserPage"] = true;
    var maxImage = Model.Max(c => c.Images.Count);
}

<h1>Available cars</h1>

<table class="table user-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellPrice)
            </th>
            @for (int i = 0; i < maxImage; i++)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model)
        {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Model.Make.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LotDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellPrice)
            </td>
       @for (int i = 0; i < maxImage; i++)
        {
            <td>
                @if (@i < item.Images.Count)
                {
                    <img src=~/images/@item.Images[i].FileName alt="car picture" class="car-pic">
                }
            </td>
        }
        </tr>
        }
    </tbody>
</table>